@import '../../../index.scss';

.card-friend {
    display: block;
    float: left;
    width: 100%;
    height: 250px;
}

.center-auto {
    margin: 0 auto;
}

.title {
    padding-top: 10px;
    margin: 0px;
    font-size: 1.5em;
    color: $accent-color;
}

.subtitle {
    padding-top: 10px;
    margin: 0px;
    font-size: 1em;
    color: $light-primary-color;
}